<header class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">Home</a>
    <div class="ms-auto">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <a class="navbar-brand" style="background-color: transparent;" href="{{ '/#projects' | prepend: site.baseurl }}">Projects</a>
        <a class="navbar-brand" style="background-color: transparent;" href="{{ '/#essays' | prepend: site.baseurl }}">Essays</a>
        <a class="navbar-brand" style="background-color: transparent;" href="{{ '/cv.pdf' | prepend: site.baseurl }}">CV</a>
      </ul>
    </div>
  </div>
</header>
